In [23]:
#import stuff
import pandas as pd
import numpy as np
import seaborn as sb
from matplotlib import pyplot as plt
import math

In [20]:
#implement the KNN class
class KNN:
    k = 0
    data = None
    
    def __init__(self, k):
        self.k = k
        #self.data = train()
    
    def train():
        pass
    
    def predict():
        pass

In [21]:
# implement the k-mean class
class k_mean:
    k = 0
    def __init__(self, k):
        self.k = 3

In [39]:
#create data and class

data = pd.DataFrame()
data['label'] = np.random.choice(['red', 'blue'], 100, p = [0.5, 0.5])
data['val'] = (10 * np.random.random_sample(100)) 

x = KNN(3)
x.k

   label       val
0    red  2.466371
1   blue  9.485635
2   blue  2.367006
3   blue  5.721019
4    red  1.609372
..   ...       ...
95  blue  3.936703
96  blue  9.433941
97   red  6.877659
98   red  6.723687
99  blue  1.965723

[100 rows x 2 columns]