In [1]:
# import stuff
import pandas as p
import numpy as n
import seaborn as s
from matplotlib import pyplot as plt

# Data Set 1; Pokemon :)

This is the data set of all Pokemon as of 10/1/21

[csv link](https://www.kaggle.com/hamdallak/the-world-of-pokemons?select=pokemons+dataset.csv)

## Useful Stats:
- Size of set ~> 1045
- Columns ~> 11

In [34]:
pokemon = p.read_csv('data/pokemon.csv', header = None, 
                     skiprows=1, encoding = 'latin-1', low_memory = False,
                    names = ['Name', 'Version', 'Primary Type' ,'Secondary Type', 'Attack', 'Defense' , 'HP', 'Sp. Attack', 'Sp. Defense', 'Speed', 'Total']
)
p.set_option('display.max_rows', 10)

In [35]:
pokemon

,Name,Version,Primary Type,Secondary Type,Attack,Defense,HP,Sp. Attack,Sp. Defense,Speed,Total
0,Bulbasaur,NaN,GRASS,POISON,49,49,45,65,65,45,318
1,Ivysaur,NaN,GRASS,POISON,62,63,60,80,80,60,405
2,Venusaur,NaN,GRASS,POISON,82,83,80,100,100,80,525
3,Venusaur,Mega Venusaur,GRASS,POISON,100,123,80,122,120,80,625
4,Charmander,NaN,FIRE,NaN,52,43,39,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...
1040,Glastrier,NaN,ICE,NaN,145,130,100,65,110,30,580
1041,Spectrier,NaN,GHOST,NaN,65,60,100,145,80,130,580
1042,Calyrex,NaN,PSYCHIC,GRASS,80,80,100,80,80,80,500
1043,Calyrex,Ice Rider,PSYCHIC,ICE,165,150,100,85,130,50,680
1044,Calyrex,Shadow Rider,PSYCHIC,GHOST,85,80,100,165,100,150,680

A) The population we are sampling is the statistics of all pokemon.

B) The features being measured include name, version, types, and battle stats.

C) All features are discrete as well as:

### Qualitative and Nominal:

   - Name
   - Version
   - Primary Type
   - Secondary Type

### Quantitative and Ordinal:

   - Attack
   - Defense
   - HP
   - Sp. Attack
   - Sp. Defense
   - Speed
   - Total

D) The features version, and Second Type have null values for some pokemon. These are still usefull because not all pokemon need to have a different version and second type. This also implies incompleteness.

E) It's needed to include the pokemon with different versions and those with second types. Otherwise it would not be all the pokemon.

F) Some features that could be added are the weaknesses of each pokemon and whether the pokemon evolves. If the pokemon does evolve then what level it evolves at.

In [4]:
# G) A good example of a pivot that works, but is ridiculous.
uni_poke = p.DataFrame()
unique = pokemon['Name'][pokemon['Version'].isnull()]
type_ = pokemon[['Primary Type']]
total = pokemon[['Total']]

uni_poke['Name'] = unique
uni_poke['Type'] = type_
uni_poke['total'] = total

uni_poke.reset_index()
uni_poke.pivot(index = 'Name', columns = 'Type', values = 'total')

Type,BUG,DARK,DRAGON,ELECTRIC,FAIRY,FIGHTING,FIRE,FLYING,GHOST,GRASS,GROUND,ICE,NORMAL,POISON,PSYCHIC,ROCK,STEEL,WATER
Name,,,,,,,,,,,,,,,,,,
Abomasnow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.0,NaN,NaN,NaN
Absol,NaN,465.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accelgor,495.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aerodactyl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,515.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zigzagoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.0,NaN,NaN,NaN,NaN,NaN
Zoroark,NaN,510.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zorua,NaN,330.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zubat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,245.0,NaN,NaN,NaN,NaN
Zweilous,NaN,420.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# An example of a more sensible pivot
type_stats = p.DataFrame()
test = p.DataFrame()
test[['P','S']] = pokemon[['Primary Type','Secondary Type']].drop_duplicates(['Primary Type', 'Secondary Type'])
test = test.sort_values('P').reset_index()
test[['Total']] = 0
#print(test)

# This operation costs >200k iterations...MPI :)
for i in range(0,len(test)):
    sum_total = 0
    mean_total = 1
    count = 0
    actual_type = test[['P', 'S']].loc[i]
    for i in range(0,len(pokemon)):
        
      
    

#type1 = pokemon[['Primary Type']]
#type2 = pokemon[['Secondary Type']]
#total = pokemon[['Total']]
#type_stats['P'] = type1
#type_stats['S'] = type2
#type_stats['T'] = total
#type_stats

P         BUG
S    FIGHTING
Name: 0, dtype: object
P      BUG
S    STEEL
Name: 1, dtype: object
P      BUG
S    FAIRY
Name: 2, dtype: object
P     BUG
S    ROCK
Name: 3, dtype: object
P      BUG
S    GRASS
Name: 4, dtype: object
P      BUG
S    WATER
Name: 5, dtype: object
P       BUG
S    GROUND
Name: 6, dtype: object
P      BUG
S    GHOST
Name: 7, dtype: object
P         BUG
S    ELECTRIC
Name: 8, dtype: object
P        BUG
S    PSYCHIC
Name: 9, dtype: object
P     BUG
S    FIRE
Name: 10, dtype: object
P    BUG
S    NaN
Name: 11, dtype: object
P       BUG
S    POISON
Name: 12, dtype: object
P       BUG
S    FLYING
Name: 13, dtype: object
P      DARK
S    NORMAL
Name: 14, dtype: object
P     DARK
S    FAIRY
Name: 15, dtype: object
P    DARK
S     NaN
Name: 16, dtype: object
P    DARK
S     ICE
Name: 17, dtype: object
P      DARK
S    DRAGON
Name: 18, dtype: object
P     DARK
S    STEEL
Name: 19, dtype: object
P    DARK
S    FIRE
Name: 20, dtype: object
P      DARK
S    FLYING
Name: 21, dtype: object
P     DARK
S    GRASS
Name: 22, dtype: object
P       DARK
S    PSYCHIC
Name: 23, dtype: object
P        DARK
S    FIGHTING
Name: 24, dtype: object
P     DARK
S    GHOST
Name: 25, dtype: object
P     DRAGON
S    PSYCHIC
Name: 26, dtype: object
P    DRAGON
S    GROUND
Name: 27, dtype: object
P    DRAGON
S       ICE
Name: 28, dtype: object
P      DRAGON
S    ELECTRIC
Name: 29, dtype: object
P      DRAGON
S    FIGHTING
Name: 30, dtype: object
P    DRAGON
S    FLYING
Name: 31, dtype: object
P    DRAGON
S       NaN
Name: 32, dtype: object
P    DRAGON
S     FAIRY
Name: 33, dtype: object
P    DRAGON
S      FIRE
Name: 34, dtype: object
P    DRAGON
S     GHOST
Name: 35, dtype: object
P    ELECTRIC
S       STEEL
Name: 36, dtype: object
P    ELECTRIC
S      NORMAL
Name: 37, dtype: object
P    ELECTRIC
S      DRAGON
Name: 38, dtype: object
P    ELECTRIC
S     PSYCHIC
Name: 39, dtype: object
P    ELECTRIC
S        DARK
Name: 40, dtype: object
P    ELECTRIC
S         NaN
Name: 41, dtype: object
P    ELECTRIC
S      FLYING
Name: 42, dtype: object
P    ELECTRIC
S       GHOST
Name: 43, dtype: object
P    ELECTRIC
S        FIRE
Name: 44, dtype: object
P    ELECTRIC
S       FAIRY
Name: 45, dtype: object
P    ELECTRIC
S         ICE
Name: 46, dtype: object
P    ELECTRIC
S       WATER
Name: 47, dtype: object
P    ELECTRIC
S       GRASS
Name: 48, dtype: object
P    ELECTRIC
S      POISON
Name: 49, dtype: object
P    FAIRY
S      NaN
Name: 50, dtype: object
P     FAIRY
S    FLYING
Name: 51, dtype: object
P    FAIRY
S    STEEL
Name: 52, dtype: object
P    FIGHTING
S       GHOST
Name: 53, dtype: object
P    FIGHTING
S        DARK
Name: 54, dtype: object
P    FIGHTING
S      FLYING
Name: 55, dtype: object
P    FIGHTING
S         ICE
Name: 56, dtype: object
P    FIGHTING
S       STEEL
Name: 57, dtype: object
P    FIGHTING
S       WATER
Name: 58, dtype: object
P    FIGHTING
S         NaN
Name: 59, dtype: object
P    FIGHTING
S     PSYCHIC
Name: 60, dtype: object
P        FIRE
S    FIGHTING
Name: 61, dtype: object
P     FIRE
S    WATER
Name: 62, dtype: object
P    FIRE
S    DARK
Name: 63, dtype: object
P    FIRE
S     BUG
Name: 64, dtype: object
P     FIRE
S    STEEL
Name: 65, dtype: object
P      FIRE
S    NORMAL
Name: 66, dtype: object
P     FIRE
S    GHOST
Name: 67, dtype: object
P       FIRE
S    PSYCHIC
Name: 68, dtype: object
P      FIRE
S    DRAGON
Name: 69, dtype: object
P      FIRE
S    FLYING
Name: 70, dtype: object
P    FIRE
S     NaN
Name: 71, dtype: object
P      FIRE
S    GROUND
Name: 72, dtype: object
P    FIRE
S    ROCK
Name: 73, dtype: object
P    FLYING
S    DRAGON
Name: 74, dtype: object
P    FLYING
S       NaN
Name: 75, dtype: object
P    FLYING
S     WATER
Name: 76, dtype: object
P    FLYING
S     STEEL
Name: 77, dtype: object
P    GHOST
S     DARK
Name: 78, dtype: object
P    GHOST
S    GRASS
Name: 79, dtype: object
P     GHOST
S    FLYING
Name: 80, dtype: object
P    GHOST
S      NaN
Name: 81, dtype: object
P    GHOST
S    FAIRY
Name: 82, dtype: object
P     GHOST
S    DRAGON
Name: 83, dtype: object
P    GHOST
S     FIRE
Name: 84, dtype: object
P     GHOST
S    POISON
Name: 85, dtype: object
P     GHOST
S    GROUND
Name: 86, dtype: object
P     GRASS
S    DRAGON
Name: 87, dtype: object
P    GRASS
S      NaN
Name: 88, dtype: object
P    GRASS
S    STEEL
Name: 89, dtype: object
P    GRASS
S      ICE
Name: 90, dtype: object
P      GRASS
S    PSYCHIC
Name: 91, dtype: object
P     GRASS
S    GROUND
Name: 92, dtype: object
P    GRASS
S    FAIRY
Name: 93, dtype: object
P     GRASS
S    POISON
Name: 94, dtype: object
P       GRASS
S    FIGHTING
Name: 95, dtype: object
P     GRASS
S    FLYING
Name: 96, dtype: object
P    GRASS
S    GHOST
Name: 97, dtype: object
P    GRASS
S     DARK
Name: 98, dtype: object
P    GROUND
S     STEEL
Name: 99, dtype: object
P    GROUND
S      ROCK
Name: 100, dtype: object
P    GROUND
S      DARK
Name: 101, dtype: object
P      GROUND
S    ELECTRIC
Name: 102, dtype: object
P    GROUND
S     GHOST
Name: 103, dtype: object
P    GROUND
S       NaN
Name: 104, dtype: object
P    GROUND
S    FLYING
Name: 105, dtype: object
P    GROUND
S    DRAGON
Name: 106, dtype: object
P     GROUND
S    PSYCHIC
Name: 107, dtype: object
P    GROUND
S      FIRE
Name: 108, dtype: object
P      ICE
S    GHOST
Name: 109, dtype: object
P     ICE
S    FIRE
Name: 110, dtype: object
P        ICE
S    PSYCHIC
Name: 111, dtype: object
P       ICE
S    FLYING
Name: 112, dtype: object
P    ICE
S    NaN
Name: 113, dtype: object
P      ICE
S    STEEL
Name: 114, dtype: object
P      ICE
S    FAIRY
Name: 115, dtype: object
P    ICE
S    BUG
Name: 116, dtype: object
P      ICE
S    WATER
Name: 117, dtype: object
P       ICE
S    GROUND
Name: 118, dtype: object
P    NORMAL
S       NaN
Name: 119, dtype: object
P    NORMAL
S     WATER
Name: 120, dtype: object
P     NORMAL
S    PSYCHIC
Name: 121, dtype: object
P    NORMAL
S    DRAGON
Name: 122, dtype: object
P    NORMAL
S    FLYING
Name: 123, dtype: object
P    NORMAL
S     FAIRY
Name: 124, dtype: object
P      NORMAL
S    FIGHTING
Name: 125, dtype: object
P    NORMAL
S    GROUND
Name: 126, dtype: object
P    NORMAL
S     GRASS
Name: 127, dtype: object
P    POISON
S      FIRE
Name: 128, dtype: object
P    POISON
S    DRAGON
Name: 129, dtype: object
P    POISON
S      DARK
Name: 130, dtype: object
P    POISON
S    FLYING
Name: 131, dtype: object
P    POISON
S       BUG
Name: 132, dtype: object
P      POISON
S    FIGHTING
Name: 133, dtype: object
P     POISON
S    PSYCHIC
Name: 134, dtype: object
P    POISON
S     FAIRY
Name: 135, dtype: object
P    POISON
S    GROUND
Name: 136, dtype: object
P    POISON
S     WATER
Name: 137, dtype: object
P    POISON
S       NaN
Name: 138, dtype: object
P    PSYCHIC
S      GHOST
Name: 139, dtype: object
P    PSYCHIC
S       DARK
Name: 140, dtype: object
P    PSYCHIC
S     NORMAL
Name: 141, dtype: object
P    PSYCHIC
S     DRAGON
Name: 142, dtype: object
P    PSYCHIC
S      STEEL
Name: 143, dtype: object
P    PSYCHIC
S        ICE
Name: 144, dtype: object
P     PSYCHIC
S    FIGHTING
Name: 145, dtype: object
P    PSYCHIC
S       FIRE
Name: 146, dtype: object
P    PSYCHIC
S        NaN
Name: 147, dtype: object
P    PSYCHIC
S     FLYING
Name: 148, dtype: object
P    PSYCHIC
S      FAIRY
Name: 149, dtype: object
P    PSYCHIC
S      GRASS
Name: 150, dtype: object
P       ROCK
S    PSYCHIC
Name: 151, dtype: object
P      ROCK
S    POISON
Name: 152, dtype: object
P    ROCK
S    DARK
Name: 153, dtype: object
P      ROCK
S    FLYING
Name: 154, dtype: object
P     ROCK
S    WATER
Name: 155, dtype: object
P    ROCK
S    FIRE
Name: 156, dtype: object
P     ROCK
S    GRASS
Name: 157, dtype: object
P    ROCK
S     NaN
Name: 158, dtype: object
P    ROCK
S     ICE
Name: 159, dtype: object
P      ROCK
S    DRAGON
Name: 160, dtype: object
P    ROCK
S     BUG
Name: 161, dtype: object
P        ROCK
S    ELECTRIC
Name: 162, dtype: object
P     ROCK
S    STEEL
Name: 163, dtype: object
P      ROCK
S    GROUND
Name: 164, dtype: object
P     ROCK
S    FAIRY
Name: 165, dtype: object
P        ROCK
S    FIGHTING
Name: 166, dtype: object
P    STEEL
S      NaN
Name: 167, dtype: object
P       STEEL
S    FIGHTING
Name: 168, dtype: object
P     STEEL
S    GROUND
Name: 169, dtype: object
P     STEEL
S    FLYING
Name: 170, dtype: object
P     STEEL
S    DRAGON
Name: 171, dtype: object
P    STEEL
S    FAIRY
Name: 172, dtype: object
P    STEEL
S    GHOST
Name: 173, dtype: object
P    STEEL
S     ROCK
Name: 174, dtype: object
P      STEEL
S    PSYCHIC
Name: 175, dtype: object
P    WATER
S      NaN
Name: 176, dtype: object
P    WATER
S    GHOST
Name: 177, dtype: object
P       WATER
S    FIGHTING
Name: 178, dtype: object
P     WATER
S    POISON
Name: 179, dtype: object
P    WATER
S    STEEL
Name: 180, dtype: object
P    WATER
S      ICE
Name: 181, dtype: object
P    WATER
S      BUG
Name: 182, dtype: object
P     WATER
S    FLYING
Name: 183, dtype: object
P    WATER
S     DARK
Name: 184, dtype: object
P    WATER
S    GRASS
Name: 185, dtype: object
P     WATER
S    DRAGON
Name: 186, dtype: object
P    WATER
S     ROCK
Name: 187, dtype: object
P       WATER
S    ELECTRIC
Name: 188, dtype: object
P    WATER
S    FAIRY
Name: 189, dtype: object
P      WATER
S    PSYCHIC
Name: 190, dtype: object
P     WATER
S    GROUND
Name: 191, dtype: object