# Project 1; Large Scale Data Analysis; Sam Disharoon & Nathan Dimatteo

## Objective

Take 3 sets of data that are fairly large in size and perform various tasks on them.

### Tasks

- (a) What type of population is being sampled? What are the “things” getting measured – usually one per row of data.
- (b) What features does each sample have, i.e. what is being measured?
- (c) Are the features quantitative or qualitative? Ordinal or nominal? Continuous or discrete?
- (d) Is the data “complete” or do some of the samples have null or absent values for certain features? Why are these samples still useful? Why are they incomplete?
- (e) Why are these features chosen to be part of the dataset?
- (f) What are some other features that are not included but that you think might make sense to include for this dataset?
- (g) Give at least one way that you can pivot the dataset to get a slightly different representation of some values. Explain what this is and how you would use it for a visualization.
- (h) Identify any possible relationships between features included in the data: which ones are likely to affect others?
    - i. Show at least one plot or visualization to illustrate this (possible) relationship.
    - ii. What numerical or statistical techniques might you consider using to determine whether the relationship is reliable?
    - iii. Are there external inferences you think might be possible? For instance, can you hypothesize a relationship with data not included in the dataset? Why or why not?
- (i) What “extra” features can you perhaps compute from the data? For example, if you have data that includes product dates of purchase, you can “engineer” the data to construct the most popular products over various lengths of time (e.g. a particular holiday season). How might you use this information? Using the holiday example, you might try to correlate holiday sales of a product to some mainstream event that popularized it.

In [2]:
# import stuff
import pandas as p
import numpy as n
import seaborn as s

## Data Set 1; Pokemon :)

This is the data set containing all the types of **pokemon** as of 10/1/2021.

[csv link](https://www.kaggle.com/hamdallak/the-world-of-pokemons)

### Useful Stats:
- Size of set ~> 1045
- Columns ~> 11

In [3]:
pokemon = p.read_csv('data/pokemon.csv', header = None, skipinitialspace = True, encoding = 'latin-1',
            names = ['Name', 'Name2', 'Primary', 'Secondary', 
                     'Attack', 'Defense', 'HP', 'Sp. Attack', 'Sp. Defense', 'Speed', 'Total']
)
pokemon

,Name,Name2,Primary,Secondary,Attack,Defense,HP,Sp. Attack,Sp. Defense,Speed,Total
0,Name,Name2,Primary Type,Secondary type,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,Total
1,Bulbasaur,NaN,GRASS,POISON,49,49,45,65,65,45,318
2,Ivysaur,NaN,GRASS,POISON,62,63,60,80,80,60,405
3,Venusaur,NaN,GRASS,POISON,82,83,80,100,100,80,525
4,Venusaur,Mega Venusaur,GRASS,POISON,100,123,80,122,120,80,625
...,...,...,...,...,...,...,...,...,...,...,...
1041,Glastrier,NaN,ICE,NaN,145,130,100,65,110,30,580
1042,Spectrier,NaN,GHOST,NaN,65,60,100,145,80,130,580
1043,Calyrex,NaN,PSYCHIC,GRASS,80,80,100,80,80,80,500
1044,Calyrex,Ice Rider,PSYCHIC,ICE,165,150,100,85,130,50,680
1045,Calyrex,Shadow Rider,PSYCHIC,GHOST,85,80,100,165,100,150,680