In [2]:
# import stuff
import pandas as p
import numpy as n
import seaborn as s

## Data Set 1; Pokemon :)

This is the data set containing the selling price predictions of 14k 2nd hand cars.

[csv link](https://www.kaggle.com/hamdallak/the-world-of-pokemons)

### Useful Stats:
- Size of set ~> 1045
- Columns ~> 10

In [4]:
pokemon = p.read_csv('data/pokemon.csv', header = None, skipinitialspace = True, encoding = 'latin-1', low_memory = False)
pokemon

,0,1,2,3,4,5,6,7,8,9,10
0,Name,Name2,Primary Type,Secondary type,Attack,Defense,HP,Sp.Attack,Sp.Defense,Speed,Total
1,Bulbasaur,NaN,GRASS,POISON,49,49,45,65,65,45,318
2,Ivysaur,NaN,GRASS,POISON,62,63,60,80,80,60,405
3,Venusaur,NaN,GRASS,POISON,82,83,80,100,100,80,525
4,Venusaur,Mega Venusaur,GRASS,POISON,100,123,80,122,120,80,625
...,...,...,...,...,...,...,...,...,...,...,...
1041,Glastrier,NaN,ICE,NaN,145,130,100,65,110,30,580
1042,Spectrier,NaN,GHOST,NaN,65,60,100,145,80,130,580
1043,Calyrex,NaN,PSYCHIC,GRASS,80,80,100,80,80,80,500
1044,Calyrex,Ice Rider,PSYCHIC,ICE,165,150,100,85,130,50,680
1045,Calyrex,Shadow Rider,PSYCHIC,GHOST,85,80,100,165,100,150,680