In [1]:
# import stuff
import pandas as p
import numpy as n
import seaborn as s
from matplotlib import pyplot as plt

# Data Set 1; Pokemon :)

This is the data set of all Pokemon as of 10/1/21

[csv link](https://www.kaggle.com/hamdallak/the-world-of-pokemons?select=pokemons+dataset.csv)

## Useful Stats:
- Size of set ~> 1045
- Columns ~> 11

In [2]:
pokemon = p.read_csv('data/pokemon.csv', header = None, skiprows=1, encoding = 'latin-1', low_memory = False,
                    names = ['Name', 'Version', 'Primary Type' ,'Secondary Type', 'Attack', 'Defense' , 'HP', 'Sp. Attack', 'Sp. Defense', 'Speed', 'Total']
)

In [3]:
pokemon

,Name,Version,Primary Type,Secondary Type,Attack,Defense,HP,Sp. Attack,Sp. Defense,Speed,Total
0,Bulbasaur,NaN,GRASS,POISON,49,49,45,65,65,45,318
1,Ivysaur,NaN,GRASS,POISON,62,63,60,80,80,60,405
2,Venusaur,NaN,GRASS,POISON,82,83,80,100,100,80,525
3,Venusaur,Mega Venusaur,GRASS,POISON,100,123,80,122,120,80,625
4,Charmander,NaN,FIRE,NaN,52,43,39,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...
1040,Glastrier,NaN,ICE,NaN,145,130,100,65,110,30,580
1041,Spectrier,NaN,GHOST,NaN,65,60,100,145,80,130,580
1042,Calyrex,NaN,PSYCHIC,GRASS,80,80,100,80,80,80,500
1043,Calyrex,Ice Rider,PSYCHIC,ICE,165,150,100,85,130,50,680
1044,Calyrex,Shadow Rider,PSYCHIC,GHOST,85,80,100,165,100,150,680

A) The population we are sampling is the statistics of all pokemon.

B) The features being measured include name, version, types, and battle stats.

C) All features are discrete as well as:

### Qualitative and Nominal:

   - Name
   - Version
   - Primary Type
   - Secondary Type

### Quantitative and Ordinal

   - Attack
   - Defense
   - HP
   - Sp. Attack
   - Sp. Defense
   - Speed
   - Total

D) The features version, and Second Type have null values for some pokemon. These are still usefull because not all pokemon need to have a different version and second type. This also implies incompleteness.

E) It's needed to include the pokemon with different versions and those with second types. Otherwise it would not be all the pokemon.

F) Some features that could be added are the weaknesses of each pokemon and whether the pokemon evolves. If the pokemon does evolve then what level it evolves at.

In [4]:
pokemon.pivot(index = 'Primary Type', columns = 'Secondary Type', values = 'Attack')

ValueError: Index contains duplicate entries, cannot reshape

In [5]:
type_stats = pokemon[['Primary Type','Secondary Type', 'Total']]
x = pokemon['Primary Type'].unique()
xSeries = p.Series(x)
for i in range(0,len(xSeries)):
    for j in range(0,len(type_stats)):
        if(type_stats['Primary Type'].str.match(pat = xSeries[i])):
            print("yay")
   # print(str)

#mean = type_stats[['Primary Type', 'Secondary Type']][type_stats['Total']].mean()
#mean

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [6]:
type_stats = pokemon[['Primary Type','Secondary Type', 'Total']]
type_stats

     Primary Type Secondary Type  Total
0           GRASS         POISON    318
1           GRASS         POISON    405
2           GRASS         POISON    525
3           GRASS         POISON    625
4            FIRE            NaN    309
...           ...            ...    ...
1040          ICE            NaN    580
1041        GHOST            NaN    580
1042      PSYCHIC          GRASS    500
1043      PSYCHIC            ICE    680
1044      PSYCHIC          GHOST    680

[1045 rows x 3 columns]