In [2]:
# import stuff
import pandas as p
import numpy as n
import seaborn as s

## Data Set 2; Stock Exchange Data

This is the data set containing the stock market information for 14 unique exchanges over the span of 12-31-1965 to 06-03-2021.

There are 3 csv files, but for this project, we will only be using indexData.csv. This has all the null values and extra data that indexProcessed.csv does not. 

[csv link](https://www.kaggle.com/mattiuzc/stock-exchange-data)


### Useful Stats:
- Size of set ~> 112,458
- Columns ~> 8

In [3]:
stock = p.read_csv('data/indexData.csv', header = None, skipinitialspace = True, encoding = 'latin-1', low_memory = False)
len(stock)

112458

In [4]:
stock

,0,1,2,3,4,5,6,7
0,ï»¿Index,Date,Open,High,Low,Close,Adj Close,Volume
1,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0
2,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0
3,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0
4,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0
...,...,...,...,...,...,...,...,...
112453,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400
112454,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400
112455,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700
112456,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900
112457,N100,2021-06-02,1258.48999,1263.709961,1258.23999,1263.619995,1263.619995,148465000